/************************* TOOL BAR ***************************/
md-toolbar {
  text-align: center;
}

/************************* GOAL AMOUNT / DONORS DISPLAY **********************/
.goalInformation {
  text-align: center;
}

.donorsContainer {
  text-align: center;
}

.shareIcon {
  width: 60px;
  height: auto;
}

.sponsors {
  text-align: center;
}

.backers {
  text-align: center;
}
/*********************** REWARD TIERS *******************/
.rewards {
  background-color: pink;
}

md-card {
  text-align: center;
}

md-card-header {
  background-color: lightblue;
  text-align: center;
}

/************************** TEAM INFO SECTION **********************/

img {
  height: 400px;
  width: auto;
}

.groupMedia {
  width: 100%;
  height: 400px;
  background-color: black;
  text-align: center;
}

.groupNarrative {
  width: 100%;
  height: auto;
  /*background-color: #E8A074;*/
}

.groupNeeds {
  width: 100%;
  height: auto;
/*  background-color: #DC8CFF;*/
}


/************************ FAQ ****************************/
.faq {
  text-align: center;
  /*background-color: lightgreen;*/
}

/*********************** REWARD DIALOG ********************/
/*.experiment th, td {
  border: 1px solid black;
}*/
.md-input[type=password]:-webkit-autofill ~ label:not(.md-no-float) {
        transform: translate3d(0, 6px, 0) scale(0.75);
        transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
        width: ~"calc((100% - 18px) / 0.75)";
        color: rgba(0,0,0,0.54);
}

md-dialog-content h4 {
  text-align: center;
}

.results {
  text-align: right;
}
