/************************* TOOL BAR ***************************/
md-toolbar {
  text-align: center;
}

.ai {
  color: pink;
}

/************************* GOAL AMOUNT / DONORS DISPLAY **********************/
.goalSection {
  padding: 0 10px 0 10px;
}

.goalSection h1, h5, h3 {
  text-align: center;
}

.goalInformation {
  text-align: center;
}

.donorsContainer {
  text-align: center;
}

.socialIcons {
  fill: lightblue;
}

.socialIconsContainer .svgIcon {
  margin: 20px 5px 5px 5px;
}
/*********************** REWARD TIERS *******************/
.rewards {
/*  background-color: pink;*/
}

md-card {
  text-align: center;
}

md-card-header {
  background-color: lightblue;
  text-align: center;
}

/************************** TEAM INFO SECTION **********************/

img {
  width: 100%;
  margin: 5px 0 5px 0;
}

.groupNarrative {
  width: 100%;
  height: auto;
  /*background-color: #E8A074;*/
}

.groupNeeds {
  width: 100%;
  height: auto;
/*  background-color: #DC8CFF;*/
}

.needsContainer {
  width: 30%;
  height: auto;
  float: left;
  margin: 5px;
}


/************************ FAQ ****************************/
.faq {
  /*background-color: lightgreen;*/
  padding: 10px;
}

.faq h2 {
  text-align: center;
}

/*********************** REWARD DIALOG ********************/

/*.experiment th, td {
  border: 1px solid black;
}*/

.action {
  width: 60%;
}

md-dialog-content h4 {
  text-align: center;
}

.results {
  text-align: right;
  width: 40%;
}

.donationInput {
  text-align: right;
  border: 0px;
  width: 50%;
  box-shadow: 0px 0px 6px blue;
}

#submitReward {
  float: right;
}

/*Hides step button on payment form*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selected {
box-shadow: 0px 0px 6px blue;
}
