/************************* TOOL BAR ***************************/
md-toolbar {
  text-align: center;
}

/************************* GOAL AMOUNT / DONORS DISPLAY **********************/
.goalInformation {
  text-align: center;
}

.donorsContainer {
  text-align: center;
}

.shareIcon {
  width: 60px;
  height: auto;
}

.sponsors {
  text-align: center;
}

.backers {
  text-align: center;
}
/*********************** REWARD TIERS *******************/
.rewards {
  background-color: pink;
}

md-card {
  text-align: center;
}

md-card-header {
  background-color: lightblue;
  text-align: center;
}

/************************** TEAM INFO SECTION **********************/

img {
  height: auto;
  width: 100%;
  display: inline;
}

.groupMedia {
  width: 100%;
  height: 400px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
}

.groupNarrative {
  width: 100%;
  height: auto;
  /*background-color: #E8A074;*/
}

.groupNeeds {
  width: 100%;
  height: auto;
/*  background-color: #DC8CFF;*/
}

.needsContainer {
  width: 30%;
  height: auto;
  float: left;
  margin: 5px;
}


/************************ FAQ ****************************/
.faq {
  text-align: center;
  /*background-color: lightgreen;*/
}

/*********************** REWARD DIALOG ********************/

/*.experiment th, td {
  border: 1px solid black;
}*/

.action {
  width: 60%;
}

md-dialog-content h4 {
  text-align: center;
}

.results {
  text-align: right;
  width: 40%;
}

.donationInput {
  text-align: right;
  border: 0px;
  width: 50%;
  box-shadow: 0px 0px 6px blue;
}

#submitReward {
  float: right;
}

.unavailable {
  opacity: 0.5;
}

.selected {
box-shadow: 0px 0px 6px blue;
}
