<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>raisable</title>

    <script src="/assets/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-animate.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-aria.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-material.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/progressbar.min.js"></script>
    <script src="/scripts/clientApp.js" charset="utf-8"></script>
    <script src="/scripts/LandingController.js"></script>
    <script src="/assets/vendors/jk-carousel.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/jk-carousel.css">
  </head>

  <body ng-app="clientApp" ng-controller="LandingController" layout="column">
  <!-- Toolbar container -->
  <md-toolbar layout="row" >
    <h1 flex>rAIsable</h1>
  </md-toolbar>


  <div flex layout="row">

      <!-- Goal and Donors container -->
      <md-content flex="25" id="goal" class="md-whiteframe-9dp">
        <section flex-offset="5" flex="90" layout="column" layout-align="center">
          <h1>{{title}}</h1>
          <h5>by {{name}}</h5>
          <div flex class="goalCard">
            <md-card>
              <h3>Goal: {{goal | currency}}</h3>
              <div flex layout="column">
                <div id="progressLine"></div>
                <h5>Raised: {{raised | currency}}</h5>
                  <div flex layout="row" class="remainingTime">
                    <h5 flex>Remaining Time</h5>
                    <h5 flex>{{backers}}</h5>
                  </div>

              </div>
            </md-card>
          </div>
          <md-button class="md-raised md-primary">Contribute Now</md-button>
          <div flex layout="row" layout-align="center">
            <p>Share: </p>
            <a href=""><img src="/assets/images/facebook.png" alt="share through facebook" class="shareIcon" /></a>
            <a href=""><img src="/assets/images/instagram.png" alt="share through instagram" class="shareIcon" /></a>
            <a href=""><img src="/assets/images/pinterest.png" alt="share through pinterest" class="shareIcon" /></a>
            <a href=""><img src="/assets/images/twitter.png" alt="share through twitter" class="shareIcon" /></a>
          </div>
        </section>

        <section flex-offset="5" flex="90" layout="column" layout-align="center">
          <md-content flex class="md-whiteframe-9dp">
            <div class="sponsors">
              <h3>Sponsors</h3>
              <md-card>

                <div class="sponsors-carousel" ng-controller="carouselController">
                    <div layout="column" layout-align="center center" style="padding-bottom: 10px">
                        <jk-carousel data="dataArray" item-template-url="'/views/item-template.html'" max-width="2000" max-height="500" auto-slide="true" auto-slide-time="5000">
                        </jk-carousel>
                    </div>
                </div>

              </md-card>
            </div>
            <div class="backers">
              <h3>All Star Backers</h3>
              <md-card>

                <div class="allstar-carousel" ng-controller="carouselController">
                    <div layout="column" layout-align="center center" style="padding-bottom: 10px">
                        <jk-carousel data="dataArray" item-template-url="'/views/item-template.html'" max-width="2000" max-height="500" auto-slide="true" auto-slide-time="5000">
                        </jk-carousel>
                    </div>
                </div>

              </md-card>
            </div>
          </md-content>
        </section>

      </md-content>

      <!-- Container for Main content - reward tiers, organization info and FAQ -->
      <md-content flex="75" id="groupInfo" class="md-whiteframe-9dp">
        <div layout="column">

          <!-- Reward tiers container -->
          <section flex layout="row" class="rewards">
            <md-card flex="25" layout="column" class="md-whiteframe-9dp" ng-repeat="tier in donorTiers"> <!--ng-repeat-->
              <md-card-header>{{tier.name}}</md-card-header>
              <md-card-content>
                <p>{{tier.low / 100 | currency}}</p>
              </md-card-content>
              <md-card-footer>
                <md-button class="md-raised md-primary">Claim</md-button>
              </md-card-footer>
            </md-card>
          </section>

          <section flex layout="row">
              <div flex="5">
              </div>
              <div flex="65" layout="column" class="teamInfoContainer">
                  <div flex class="groupMedia"></div>
                  <div flex class="groupNarrative">
                    <md-card>
                      <md-card-header>About</md-card-header>
                      <md-card-content>{{campaign.about}}</md-card-content>
                    </md-card>
                  </div>
                  <div flex class="groupNeeds">
                    <md-card>
                      <md-card-header>Needs</md-card-header>
                      <md-card-content ng-repeat="need in needs">
                        Item: {{need.name}}<br>
                        Quantity: {{need.quantity}}<br>
                        Total Price: ${{need.price}}
                      </md-card-content>
                    </md-card>
                  </div>
              </div>
              <div flex="5">
              </div>

              <div flex="25" class="md-whiteframe-9dp">
                <md-content class="faq">
                  <h2>FAQ</h2>
                  <p ng-repeat="faq in faqs">
                    Q: {{faq.question}}<br>
                    A: {{faq.response}}
                  </p>
                </md-content>
              </div>
          </section>
        </div>
      </md-content>

  </div>
</body>
</html>
