<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>raisable</title>

    <script src="/assets/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/ng-currency.js"></script>
    <script src="/assets/vendors/angular-animate.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-aria.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-material.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/progressbar.min.js"></script>
    <script src="/assets/vendors/moment.min.js"></script>
    <script src="https://js.stripe.com/v2/" charset="utf-8"></script>
    <script src="/assets/vendors/jk-carousel.js"></script>
    <script src="/scripts/clientApp.js" charset="utf-8"></script>
    <script src="/scripts/controllers/LandingController.js"></script>
    <script src="/scripts/factories/campaignFactory.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/landing-jk-carousel.css">
  </head>

  <body ng-app="clientApp" ng-controller="LandingController" layout="column">
  <!-- Toolbar container -->
  <md-toolbar layout="row" layout-align="center center">
    <h1 flex>r<span class="ai">ai</span>sable</h1>
  </md-toolbar>


  <div flex layout="row">

      <!-- Goal and Donors container -->
      <md-content flex="25" id="goal" class="md-whiteframe-9dp">
        <div layout="column" layout-align="center">
          <div class="goalSection">
            <h1>{{title}}</h1>
            <h5>by {{name}}</h5>
            <div class="goalCard">
              <md-card class="md-whiteframe-9dp">
                <h3>Goal: {{goal / 100 | currency}}</h3>
                <div layout="column">
                  <div id="progressLine"></div>
                  <h5>Raised: {{raised / 100 | currency}}</h5>
                    <div layout="row" class="remainingTime">
                      <h5 flex>{{timeRemaining}}</h5>
                      <h5 flex>{{backers}}</h5>
                    </div>
                </div>
                <md-button class="md-raised md-primary" ng-click="claimReward()">Contribute Now</md-button>
              </md-card>
            </div>

            <!--social share icons...instagram, twitter, pinterest and facebook-->
            <div class="socialIconsContainer" layout="row" layout-align="center">

                <a href="https://twitter.com/share" data-text="checkout raisable!" data-dnt="true">
                  <svg class="svgIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" version="1">
                    <title>Twitter</title>
                    <g style="fill-rule:evenodd;fill:none">
                        <path class="socialIcons" d="M0 30C0 13.4 13.5 0 30 0 46.6 0 60.1 13.4 60.1 30 60.1 46.6 46.6 60 30 60 13.5 60 0 46.6 0 30ZM0 30" fill="#4099FF"/>
                        <path d="M29.3 23.9L29.4 24.9 28.3 24.8C24.5 24.3 21.2 22.7 18.3 19.9L16.9 18.5 16.6 19.5C15.8 21.8 16.3 24.2 17.9 25.8 18.7 26.7 18.5 26.8
                          17.1 26.3 16.6 26.1 16.1 26 16.1 26 16 26.2 16.5 28.1 16.9 28.9 17.4 29.9 18.5 31 19.7 31.6L20.8 32.1 19.5 32.1C18.4 32.1 18.3 32.1 18.5
                          32.6 18.9 34 20.5 35.4 22.4 36L23.7 36.5 22.5 37.2C20.9 38.1 18.9 38.7 16.9 38.7 16 38.8 15.2 38.8 15.2 38.9 15.2 39.1 17.8 40.3 19.2 40.8
                          23.7 42.1 29 41.6 33 39.2 35.8 37.5 38.7 34.2 40 31 40.7 29.3 41.4 26.1 41.4 24.6 41.4 23.7 41.5 23.5 42.7 22.4 43.4 21.7 44 20.9 44.1 20.7
                          44.3 20.3 44.3 20.3 43.3 20.7 41.5 21.3 41.2 21.2 42.1 20.3 42.8 19.6 43.5 18.4 43.5 18 43.5 18 43.2 18.1 42.9 18.3 42.5 18.5 41.6 18.8 41
                          19L39.9 19.3 38.8 18.6C38.3 18.3 37.5 17.8 37.1 17.7 36 17.4 34.4 17.4 33.4 17.8 30.8 18.7 29.1 21.2 29.3 23.9ZM29.3 23.9" fill="#FFF"/>
                        <path d="M60.1 30C60.1 46.6 46.6 60 30 60 23.9 60 18.2 58.2 13.4 55L47.8 5.8C55.3 11.3 60.1 20.1 60.1 30ZM60.1 30" fill-opacity="0.08"/>
                    </g>
                  </svg>
                </a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <a id="shareBtn" href="">
                  <svg class="svgIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                    <title>Facebook</title>
                    <g fill="none">
                      <path class="socialIcons" d="M0.1 30C0.1 13.4 13.3 0 29.7 0 46 0 59.2 13.4 59.2 30 59.2 46.6 46 60 29.7 60 13.3 60 0.1 46.6 0.1 30ZM0.1 30" fill="#3B5998"/>
                      <path d="M32.1 46.3L32.1 30 36.6 30 37.2 24.4 32.1 24.4 32.1 21.6C32.1 20.1 32.3 19.3 34.4 19.3L37.1 19.3 37.1 13.7 32.7 13.7C27.4 13.7 25.5
                        16.4 25.5 21L25.5 24.4 22.2 24.4 22.2 30 25.5 30 25.5 46.3 32.1 46.3ZM32.1 46.3" fill="#FFF"/>
                      <path d="M59.2 30C59.2 46.6 46 60 29.7 60 23.6 60 18 58.2 13.3 55L47.2 5.8C54.5 11.3 59.2 20.1 59.2 30ZM59.2 30" fill-opacity="0.08"/>
                    </g>
                  </svg>
                </a> <script>document.getElementById('shareBtn').onclick = function() {FB.ui({method: 'share',display: 'popup',href: 'https://developers.facebook.com/docs/',}, function(response){});}</script>
              </div>

              <div layout-align="center" class="sponsors" ng-repeat="level in levels" ng-if="level.name == 'Sponsor'">
                <h3>Sponsors</h3>
                <md-card class="md-whiteframe-9dp" ng-repeat="backer in level.sponsors" >
                  <md-card-header>{{backer.firstName}} {{backer.lastName}}</md-card-header>
                  <md-content>{{backer.imageLink}}<br><a href="{{backer.websiteLink}}">{{backer.websiteLink}}</a></md-content>
                </md-card>
              </div>

              <!--carousels for each level of donation-->
              <div class="backers" ng-repeat="level in levels" ng-if="level.name != 'Sponsor'">
                <h3>{{level.name}} <span ng-hide="level.name =='Donor'">backers</span></h3>
                  <div layout="column" layout-align="center center">
                      <jk-carousel data="dataArray" item-template-url="'/views/item-template.html'" max-width="2000" max-height="600" auto-slide="true" auto-slide-time="5000">
                      </jk-carousel>
                  </div>
              </div>
          </div>
        </div>
      </md-content>

      <!-- Container for Main content - reward tiers, organization info and FAQ -->
      <md-content flex="75" id="groupInfo" class="md-whiteframe-9dp">
        <div layout="column">

          <!-- Reward tiers container -->
          <div flex layout="row" class="rewards">
            <md-card flex="25" layout="column" class="md-whiteframe-9dp" ng-repeat="tier in donorTiers" layout-align="center" ng-if="tier.name != 'Donor'">
              <md-card-header>{{tier.name}} Reward</md-card-header>
              <md-card-content>
                <p>{{tier.low / 100 | currency}}</p>
                <p>{{tier.rewardTitle}}</p>
              </md-card-content>
              <md-card-footer>
                <md-button class="md-raised md-primary" ng-click="claimReward(tier)">Claim</md-button>
              </md-card-footer>
            </md-card>
          </div>

          <div flex layout="row" class="media-about-needs">
              <div flex="5"></div>

              <div flex="60" layout="column" layout-align="space-around none" class="teamInfoContainer">
                  <!--<div class="groupMedia">-->
                    <img src="{{campaign.imageLink}}" alt="teamMedia" />
                  <!--</div>-->

                  <div class="groupNarrative">
                    <md-card layout-align="center" class="md-whiteframe-9dp">
                      <md-card-header>About</md-card-header>
                      <md-card-content>{{campaign.about}}</md-card-content>
                    </md-card>
                  </div>

                  <div class="groupNeeds">
                    <md-card layout-align="center" class="md-whiteframe-9dp">
                      <md-card-header>Needs</md-card-header>
                      <md-card-content>
                        <div ng-repeat="need in needs" class="needsContainer">
                          Item: {{need.name}}<br>
                          Quantity: {{need.quantity}}<br>
                          Total Price: {{need.price / 100 | currency}}
                        </div>
                      </md-card-content>
                    </md-card>
                  </div>
              </div>

              <div flex="5"></div>

              <div flex="25" class="md-whiteframe-9dp">
                <md-content class="faq">
                  <h2>FAQ</h2>
                  <p ng-repeat="faq in faqs">
                    <b>Q:</b> {{faq.question}}<br>
                    <b>A:</b> {{faq.response}}
                  </p>
                </md-content>
              </div>

              <div flex="5"></div>
          </div>
        </div>
      </md-content>

  </div>
</body>
</html>
