<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>raisable</title>

    <script src="/assets/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/ng-currency.js"></script>
    <script src="/assets/vendors/angular-animate.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-aria.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/angular-material.min.js" charset="utf-8"></script>
    <script src="/assets/vendors/progressbar.min.js"></script>
    <script src="/assets/vendors/moment.min.js"></script>
    <script src="https://js.stripe.com/v2/" charset="utf-8"></script>
    <script src="/assets/vendors/jk-carousel.js"></script>
    <script src="/scripts/clientApp.js" charset="utf-8"></script>
    <script src="/scripts/controllers/LandingController.js"></script>
    <script src="/scripts/factories/campaignFactory.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/landing-jk-carousel.css">
  </head>

  <body ng-app="clientApp" ng-controller="LandingController" layout="column">
  <!-- Toolbar container -->
  <md-toolbar layout="row" layout-align="center center">
    <h1 flex>r<span class="ai">ai</span>sable</h1>
  </md-toolbar>


  <div flex layout="row">

      <!-- Goal and Donors container -->
      <md-content flex="25" id="goal" class="md-whiteframe-9dp">
        <div layout="column" layout-align="center">
          <div class="goalSection">
          <h1>{{title}}</h1>
          <h5>by {{name}}</h5>
          <div class="goalCard">
            <md-card class="md-whiteframe-9dp">
              <h3>Goal: {{goal / 100 | currency}}</h3>
              <div layout="column">
                <div id="progressLine"></div>
                <h5>Raised: {{raised / 100 | currency}}</h5>
                  <div layout="row" class="remainingTime">
                    <h5 flex>{{timeRemaining}}</h5>
                    <h5 flex>{{backers}}</h5>
                  </div>
              </div>
              <md-button class="md-raised md-primary" ng-click="claimReward(0)">Contribute Now</md-button>
            </md-card>
          </div>

          <div class="socialIcons" layout="row" layout-align="center">
            <p>Share: </p>
            <a href=""><img src="/assets/images/facebook.png" alt="share through facebook" class="shareIcon" /></a>
            <a href=""><img src="/assets/images/instagram.png" alt="share through instagram" class="shareIcon" /></a>
            <a href=""><img src="/assets/images/pinterest.png" alt="share through pinterest" class="shareIcon" /></a>
            <a href=""><img src="/assets/images/twitter.png" alt="share through twitter" class="shareIcon" /></a>
          </div>

          <div layout-align="center" class="sponsors" ng-repeat="level in levels" ng-if="level.name == 'Sponsor'">
            <h3>{{level.name}}</h3>
            <md-card class="md-whiteframe-9dp" ng-repeat="backer in level.sponsors" >
              <md-card-header>{{backer.firstName}} {{backer.lastName}}</md-card-header>
              <md-content>{{backer.imageLink}}<br><a href="{{backer.websiteLink}}">{{backer.websiteLink}}</a></md-content>
            </md-card>
          </div>
            <!-- </div> -->

          <!--carousels for each level of donation-->
          <div class="backers" ng-repeat="level in levels" ng-if="level.name != 'Sponsor'">
            <h3>{{level.name}}</h3>
              <div layout="column" layout-align="center center">
                  <jk-carousel data="dataArray" item-template-url="'/views/item-template.html'" max-width="2000" max-height="600" auto-slide="true" auto-slide-time="5000">
                  </jk-carousel>
              </div>
          </div>
        </div>
        </div>
      </md-content>

      <!-- Container for Main content - reward tiers, organization info and FAQ -->
      <md-content flex="75" id="groupInfo" class="md-whiteframe-9dp">
        <div layout="column">

          <!-- Reward tiers container -->
          <div flex layout="row" class="rewards">
            <md-card flex="25" layout="column" class="md-whiteframe-9dp" ng-repeat="tier in donorTiers" layout-align="center" ng-if="tier.name != 'Donor'">
              <md-card-header>{{tier.name}} Reward</md-card-header>
              <md-card-content>
                <p>{{tier.low / 100 | currency}}</p>
                <p>{{tier.rewardTitle}}</p>
              </md-card-content>
              <md-card-footer>
                <md-button class="md-raised md-primary" ng-click="claimReward(tier)">Claim</md-button>
              </md-card-footer>
            </md-card>
          </div>

          <div flex layout="row" class="media-about-needs">
              <div flex="5"></div>

              <div flex="60" layout="column" layout-align="space-around none" class="teamInfoContainer">
                  <!--<div class="groupMedia">-->
                    <img src="{{campaign.imageLink}}" alt="teamMedia" />
                  <!--</div>-->

                  <div class="groupNarrative">
                    <md-card layout-align="center" class="md-whiteframe-9dp">
                      <md-card-header>About</md-card-header>
                      <md-card-content>{{campaign.about}}</md-card-content>
                    </md-card>
                  </div>

                  <div class="groupNeeds">
                    <md-card layout-align="center" class="md-whiteframe-9dp">
                      <md-card-header>Needs</md-card-header>
                      <md-card-content>
                        <div ng-repeat="need in needs" class="needsContainer">
                          Item: {{need.name}}<br>
                          Quantity: {{need.quantity}}<br>
                          Total Price: {{need.price / 100 | currency}}
                        </div>
                      </md-card-content>
                    </md-card>
                  </div>
              </div>

              <div flex="5"></div>

              <div flex="25" class="md-whiteframe-9dp">
                <md-content class="faq">
                  <h2>FAQ</h2>
                  <p ng-repeat="faq in faqs">
                    <b>Q:</b> {{faq.question}}<br>
                    <b>A:</b> {{faq.response}}
                  </p>
                </md-content>
              </div>

              <div flex="5"></div>
          </div>
        </div>
      </md-content>

  </div>
</body>
</html>
