<md-dialog flex="75" class="rewardDialog">
 <md-toolbar>
   <div class="md-toolbar-tools">
     <h2>Choose Reward and Submit Donation</h2>
   </div>
 </md-toolbar>
 <form name="donorRewardsForm" id="donorForm">
 <md-dialog-content flex-shrink="0" flex-basis="auto" layout="row">

     <div flex="5"></div>

     <div flex="45" layout="column">
       <h4>Claim your reward</h4>
       <md-input-container>
         <md-radio-group>
           <md-radio-button class="tier-{{$index}}" name="rewardTier" value="{{tier.name}}" ng-model="selectedReward.reward"
            ng-repeat="tier in donorTiers" ng-if="tier.name != 'Donor'"
            ng-click="clickCheckBox(tier)"><b>{{tier.name}}:</b> {{tier.rewardTitle}}<br>{{tier.rewardDescription}}</md-radio-button>
           <md-radio-button class="donor" name="rewardTier" value="forgoReward"
           ng-model="selectedReward.reward" ng-click="clickCheckBoxDonor()">I would like to forgo my reward.</md-radio-button>
           <br>
         </md-radio-group>
         <md-radio-group>
           <md-radio-button name="publicThankYou" value="goPublic" id="goPublic" class="thankYou"
           ng-click="toggleThankYou()" ng-model="selectedReward.goPublic">I would like to be publicly thanked for being a supporter.</md-radio-button>
         </md-radio-group>
       </md-input-container>
       <md-input-container>
         <input type="text" name="firstName" ng-model="selectedReward.firstName" placeholder="First Name" />
       </md-input-container>
       <md-input-container>
         <input type="text" name="lastName" ng-model="selectedReward.lastName" placeholder="Last Name" />
       </md-input-container>
     </div>

     <div flex="5"></div>

     <div flex="40" layout="column">
       <h4>Checkout</h4>
       <md-input-container>
         <input type="text" name="email" ng-model="selectedReward.email" placeholder="Email" />
       </md-input-container>
       <md-input-container>
         <input type="text" name="number" ng-model="clientCard.number" placeholder="Card Number" />
       </md-input-container>
       <md-input-container>
        <input type="month" name="date" ng-model="date" placeholder="Exp. Date" />
       </md-input-container>
       <md-input-container>
         <input type="text" name="cvc" ng-model="clientCard.cvc" placeholder="CVC/CVV" />
       </md-input-container>
       <md-input-container>
         <input type="text" name="zip" ng-model="clientCard.address_zip" placeholder="Card Zip Code" />
       </md-input-container>

       <h4>Breakout</h4>
         <div flex class="breakout">
           <table class="experiment">
             <tr>
               <td class="action">Donation:</td>
               <td class="results"><span>$</span>
                 <input class="donationInput" type="number" name="donationAmount" ng-model="donationAmount"
                   ng-change="calcFees2(donationAmount)" />
               </td>
             </tr>
             <tr>
               <td class="action">Account Fees:</td>
               <td class="results">{{accountFees / 100 | currency}}</td>
             </tr>
             <tr>
               <td class="action">Total Contribution:</td>
               <td class="results">{{totalContribution / 100 | currency}}</td>
             </tr>
           </table><br>
           <md-button id="submitReward" class="md-raised md-primary" ng-click="charge(clientCard, date)">Pay {{donationAmount | currency}}</md-button>
         </div>
     </div>

     <div flex="5"></div>

</md-dialog-content>
</form>
</md-dialog>
